{% extends "base.html" %}
{% block title %} Coupon {% endblock %}
{% block outmessage %}
    {{messagestr}} 
{% endblock outmessage %}
{% block content %}
    <form method="POST">
        <h3 align="center">LogIn</h3>
        <div class="form-group">
            <label for="Login">Login Name</label>
            <input type="Login" class="form-control" name="login" placeholder="Enter LoginName"/>
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter Password"/>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>    
{% endblock %}

